@charset "UTF-8";

*{
    font-family: sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #F5DFBA, #A88C5E);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(99, 82, 55, 0.562);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #A88C5E;
    text-align: center;
    text-shadow: 1px 1px 2px #3f332188;

}

h2{
    color: #0b355a;

}

p{
    text-align: justify;
}